Allow gen-delims and sub-delims

According to RFC3986 section 2.2 gen-delims andsib delims are alowed in url. The barcode reader cuts of at the first [ it encounters. This is not correct behavior. Allow all characters .

Could you be more specific? what is the RFC, what delimiters do you mean, what barcode producing what result vs what you expect? And ideally a pull request illustrating the change you want

currently the following url is cutoff just before teh `[`: `https://qr.sbw.media/[0Li9` 
According to RFC3986, section 2.2 `[` is  considered a generic delimiter and valid in a url, there is no need to end the url here

Can you show me a barcode that does this? I don't think there is any special handling of this in the code.
And, ideally I'm looking for a pull request

![anmeldung_sbw_media](https://github.com/zxing/zxing/assets/1612152/bcd1b0c3-939b-4e04-b71e-c019ebddb0ae)


That decodes as you expect with this library. The result is `https://qr.sbw.media/[0Li9`
I think you're talking about something else, like an app and how it renders URLs. 

> That decodes as you expect with this library. The result is `https://qr.sbw.media/[0Li9` I think you're talking about something else, like an app and how it renders URLs.

No it is not. The url is cut off at [ and the result is https://qr.sbw.media/ which is not valid

It is :) I just tried it. I think you are talking about something different.
I don't understand your comment about what should change in URIResultParser, but, as I say: please open a PR to continue this. I'm having a hard time working out what you think should be different